/docs/_build/*
#!/docs/_build/html/
#/docs/_build/html/*
#!/docs/_build/html/assets/
docs/__pycache__/custom_roles.cpython-311.pyc
docs/class4/module1/.DS_Store
docs/class4/module1/pictures/.DS_Store
